<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <h3 class="post-title">
    {{ post.title }}
  </h3>
  <div class="post-image">
    <img [src]="post.imagePath" [alt]="post.title">
  </div>
  <div class="post-range">
    <p>{{ post.xMin }} &lt; <i>x</i> &lt; {{ post.xMax }}</p>
    <p>{{ post.yMin }} &lt; <i>y</i> &lt; {{ post.yMax }}</p>
    <div *ngIf="post.fractal === '2'">
      <p><i>C</i>: ({{ post.yC}}, {{ post.yC }})</p>
    </div>
  </div>
  <div *ngIf="post.parentId != 'null' && post.parentId !== null && post.parentId !== undefined">
    <a mat-button color="info" [routerLink]="['/view', post.parentId]">VIEW CLONE PARENT</a>
  </div>
  <mat-action-row>
    <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
    <a mat-button color="success" [routerLink]="['/clone', post.id, 'true']">CLONE</a>
    <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
  </mat-action-row>
</div>
