<h2 mat-dialog-title>Julia Sets</h2>
<div mat-dialog-content>
  <p>
    When selecting Julia Set from a Mandelbrot Set, the constant point <span class="nobr">(x_C, y_C)</span> is calculated as the
    center of the current Mandelbrot Set domain range. Also the domain range is reset to fit most Julia sets.
  </p>
  <p>
    It is not possible to switch back to the original Mandelbrot Set once the Julia Set has been created.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

