<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Fractal Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a fractal title.</mat-error>
    </mat-form-field>
    <div class="post-image" *ngIf="post">
      <app-canvas-image [imageUrl]="post.imagePath" (messageEvent)="getRange($event)"></app-canvas-image>
    </div>
    <mat-form-field>
      <input matInput rows="4" formControlName="xMin" placeholder="x_min">
      <mat-error *ngIf="form.get('xMin').invalid">Please enter x_min.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput rows="4" formControlName="xMax" placeholder="x_max">
      <mat-error *ngIf="form.get('xMax').invalid">Please enter x_max.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput rows="4" formControlName="yMin" placeholder="y_min">
      <mat-error *ngIf="form.get('yMin').invalid">Please enter y_min.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput rows="4" formControlName="yMax" placeholder="y_max">
      <mat-error *ngIf="form.get('yMax').invalid">Please enter y_max.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contour Levels</mat-label>
      <mat-select formControlName="contours">
        <mat-option *ngFor="let contour of contourList" [value]="contour.value">
          {{ contour.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Color Theme</mat-label>
      <mat-select formControlName="theme">
        <mat-option *ngFor="let theme of themes" [value]="theme.value">
          {{ theme.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Maximum Image Size (pixels)</mat-label>
      <mat-select formControlName="size">
        <mat-option *ngFor="let size of sizeList" [value]="size.value">
          {{ size.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Maximum Iterations</mat-label>
      <mat-select formControlName="iterations">
        <mat-option *ngFor="let iteration of iterationList" [value]="iteration.value">
          {{ iteration.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Create Fractal</button>
  </form>
</mat-card>
