<mat-spinner *ngIf="isLoading"></mat-spinner>
<section class="post-user-only-section" *ngIf="userIsAuthenticated && !isLoading">
  <mat-slide-toggle class="post-user-only-margin" (change)="setUserOnlyPosts($event.checked)" checked="checked">Show user fractals only</mat-slide-toggle>
</section>
<section class="fractal-type-section">
<label id="fractal-type-label">Select fractal type:</label>
<mat-radio-group class="fractal-type-radio-group" (change)="selectFractal($event)" aria-labelledby="fractal-type-label">
  <mat-radio-button class="fractal-type-radio-button" value="0" checked="checked">All</mat-radio-button>
  <mat-radio-button class="fractal-type-radio-button" value="1">Mandelbrot</mat-radio-button>
  <mat-radio-button class="fractal-type-radio-button" value="2">Julia</mat-radio-button>
</mat-radio-group>
</section>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <div *ngFor="let post of posts">
    <mat-expansion-panel *ngIf="!showUserOnlyPosts || (userIsAuthenticated && userId === post.creator && showUserOnlyPosts)">
      <mat-expansion-panel-header>
        <div class="preview-image">
          <img [src]="post.imagePath" [alt]="post.title">
          {{ post.title }}
        </div>
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <div class="post-range">
        <p>{{ post.xMin }} &lt; <i>x</i> &lt; {{ post.xMax }}</p>
        <p>{{ post.yMin }} &lt; <i>y</i> &lt; {{ post.yMax }}</p>
        <div *ngIf="post.fractal === '2'">
          <p><i>C</i>: ({{ post.yC}}, {{ post.yC }})</p>
        </div>
      </div>
      <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
        <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
        <a mat-button color="success" [routerLink]="['/clone', post.id, 'true']">CLONE</a>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
