:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.post-range {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: gray;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.preview-image {
  height: 3rem;
}

.preview-image img {
  display: inline;
  height: 90%;
  float: none;
  vertical-align: middle;
  padding-right: 1rem;
}

.mat-success {
  color: #31b404;
}

.post-user-only-section {
  margin: 12px 0;
  font-size: smaller;
  color: gray;
}

.post-user-only-margin {
  margin: 0 12px;
  margin-bottom: 1rem;
}

.fractal-type-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.fractal-type-radio-button {
  margin: 5px;
}
